# Python caches
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
.env.*
.venv/
venv/
ENV/

# Editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite
*.sqlite3

# Logs
*.log
